.popup__text-error {
  display: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0px;
}
