.logo {
  background-image: url(../../images/logo.svg);
  width: 104px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 28px;
  margin-left: 27px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 142px;
    height: 33px;
    margin-top: 45px;
    margin-left: 0;
    margin-bottom: 41px;
  }
}
